@import url('https://fonts.googleapis.com/css2?family=Funnel+Display&family=Poiret+One&display=swap');
@import "tailwindcss";

.nav-button {
  padding: 10px;
  border-radius: 50px;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  overflow: hidden;
}

.nav-button:hover {
  border-radius: 0;
}

.font1 {
  font-family: "Funnel Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font2 {
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-style: normal;
}