@import url('https://fonts.googleapis.com/css2?family=Funnel+Display&family=Poiret+One&display=swap');
@import "tailwindcss";

.zen-button {
  padding: 14px;
  border-radius: 50px;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  overflow: hidden;
}

.zen-button:hover {
  border-radius: 0;
}

.font1 {
  font-family: "Funnel Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font2 {
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar {
  margin-top: 12px;
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-button {
  border-radius: 0;
}

::-webkit-scrollbar-track {
  background-color: #00684A;
}

::-webkit-scrollbar-thumb {
  background-color: #1ad86a;
}

::-webkit-scrollbar-button {
  display: none;
}